/* Coolors Exported Palette - coolors.co/ed6a5a-f4f1bb-9bc1bc-e6ebe0-36c9c6 */

/* RGB */
$palette__terracotta:   rgba(237, 106, 90, 1);
$palette__blond:        rgba(244, 241, 187, 1);
$palette__cambridge:    rgba(155, 193, 188, 1);
$palette__platinum:     rgba(230, 235, 224, 1);
$palette__bluegreen:    rgba(54, 201, 198, 1);

$palette__black:        #000000;
$palette__white:        #ffffff;
$palette__font:         #222222;

$palette__robin: #9DE1CF;
$palette__banana: #FAE03A;
$palette__mellow: #F4D478;
$palette__gold: #B3822E;
$palette__green: #B5C350;


$palette__grey: rgba(168, 168, 168, 1);
$palette__grey--dark: rgba(71, 86, 96, 1);
$palette__red: rgba(183, 64, 76, 1);
$palette__yellow: rgba(211, 216, 112, 1);
$palette__grey--light: rgba(239, 239, 239, 1);
